/*
---------------------------------------------
Basic
---------------------------------------------
*/

:root {
    --hue: 223;
}

.r__faq .heading-section {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 60px;
}

.r__faq .heading-section h1 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #fff;
    display: block;
    font-size: 2.5rem; /* English: 3rem / Korean: 2.5rem */
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-transform: none;
}

.r__faq em {
    font-style: normal;
    color: #57f579;
    font-weight: 600;
}

/*
---------------------------------------------
FAQ
---------------------------------------------
*/


.faqs-container {
    /* max-width: 600px; */
    margin: 0 auto;
}

.r__faq .faq {
    background-color: hsl(var(--hue), 10%, 50%, 0.1);
    border-radius: 0.375em; /* 23px */
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.r__faq .faq.active {
    background-color: hsl(var(--hue), 10%, 50%, 0.2);
}

.r__faq .faq-title {
    margin: 0 35px 0 0;
    /* add */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.075em;
    line-height: 1.8;
    text-transform: none;
}

.r__faq .faq-text {
    display: none;
    margin: 30px 0 0;
    /* add */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #E4E5E8;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.075em;
    line-height: 1.8;
    text-transform: none;
    text-align: justify;
}

.r__faq .faq.active .faq-text {
    display: block;
}

/* faq-toggle */
.r__faq .faq-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.r__faq .faq-toggle:focus {
    outline: none;
}

/* fa-chevron-up */
.r__faq .faq-toggle .fa-chevron-up {
    display: none;
}

.r__faq .faq.active .faq-toggle .fa-chevron-up {
    display: block;
}

/* fa-chevron-down */
.r__faq .faq-toggle .fa-chevron-down {
    color: #83888E;
}

.r__faq .faq.active .faq-toggle .fa-chevron-down {
    display: none;
}


/*
---------------------------------------------
Responsive style
---------------------------------------------
*/

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .r__faq .faq-title {
        font-size: 17px;
    }

    .r__faq .faq-text {
        font-size: 17px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* 자주 묻는 질문 */
    .r__faq .heading-section {
        margin-top: 150px;
        margin-bottom: 40px;
    }

    .r__faq .faq-title {
        font-size: 14px;
    }

    .r__faq .faq-text {
        font-size: 14px;
    }

}

