/*
---------------------------------------------
Basic
---------------------------------------------
*/

.RecruitBanner {
    background-color: #2A2C30;
}


/*
---------------------------------------------
Custom Text
---------------------------------------------
*/

.RecruitBanner h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: capitalize;
}

.RecruitBanner .key {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #57F579;
    display: inline-block;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: none;
    transition: transform 0.2s;
}


/*
---------------------------------------------
Keyboard
---------------------------------------------
*/

@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(10px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(10px);
  }
}

@keyframes pressDown8 {
  35%,
  45%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
}



.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(8) {
  animation: pressDown8 3.2s infinite;
}


/*
---------------------------------------------
Button
---------------------------------------------
*/

.RecruitBanner .apply {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #2A2C30;
    background-color: #FFFFFF;
    border: 1.8px solid #FFFFFF;
    border-radius: 0;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 2.5rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.RecruitBanner .apply:hover {
    background-color: #e1e2e2;
    opacity: 1;
}

.RecruitBanner .status {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    background-color: transparent;
    border: 1.8px solid #FFFFFF;
    border-radius: 0;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 2.5rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.RecruitBanner .status:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.075);
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .RecruitBanner .apply,
    .RecruitBanner .status {
        font-size: 0.9rem;
        padding: 0 1.5rem;
        height: 3.2rem;
        line-height: 3.2rem;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}