/*
---------------------------------------------
StatusResult
---------------------------------------------
*/

.statusResult .header {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.statusResult .header2 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 800;
    letter-spacing: 0.075em;
    line-height: 1.5;
    margin-bottom: 30px;
}

.statusResult .pg {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 450;
    letter-spacing: 0.055em;
    color: #cccccc;
}

.statusResult .point {
    font-weight: 700;
    color: #FFFFFF;
}

.statusResult em {
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}


/*
---------------------------------------------
Button
---------------------------------------------
*/

.statusResult .discord-btn {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}


/*
---------------------------------------------
Button Hover
---------------------------------------------
*/

.statusResult .link-fancy {
    color: #0D0F10;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.statusResult .link-fancy-light {
    color: #FFFFFF;
}

.statusResult .link-fancy:hover {
    color: #8a8a8e;
}

.statusResult .link-fancy-light:hover {
    color: #8a8a8e;
}

.statusResult .link-fancy:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #0D0F10 0, #0D0F10 25%, transparent 0, transparent 50%, #0D0F10 0, #0D0F10 75%, transparent 0, transparent);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 400% 1px;
    transition: background-position 0.8s ease-in-out;
}

.statusResult .link-fancy-light:before {
    background-image: linear-gradient(90deg, #fff 0, #fff 25%, transparent 0, transparent 50%, #fff 0, #fff 75%, transparent 0, transparent);
}

.statusResult .link-fancy:hover:before {
    background-position: 100%;
}