.statusResult .content {

}

.statusResult .button {
    background: #E2E2E2;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    border-radius: 3px;
}

.statusResult .header {
    /*font-family: "Source Sans Pro", Helvetica, sans-serif;*/
    margin-bottom: 25px;
}

.statusResult .header2 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin-bottom: 30px;
}

.statusResult .pg {
    /*font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;*/
    color: #cccccc;
}
            
         