## 파일 무시
db.sqlite3
__pycache__
my_settings.py
.env
## 다음과 같은 확장자는 전체 무시
*.pyc
## 폴더 무시
venv/
myvenv/
.config/
# MySQL Database
*.sql
*.sqlite3
*.db
*.log

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
