html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#0d0f10, #0d0f10);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #0d0f10;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  border: none; /* 테두리 스타일 추가 */
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  /* width: 100%; */
  width: calc(100% - 20px); /* 입력 상자와 일치하도록 설정 */
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #5EE773;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #5EE773;
  font-size: 12px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #808080; /* 회색 */
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: color 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 1px solid #808080; /* 검정색 테두리 */
  border-radius: 5px;
  width: calc(100% - 20px); /* 좌우 여백을 조정하여 입력 상자와 일치하도록 설정 */
}

/* 애니메이션 스타일 */
.login-box button span {
  position: absolute;
  display: none; /* 초기에는 숨김 */
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #5EE773);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #5EE773);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #5EE773);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #5EE773);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-box button.active {
  color: #fff; /* 하얀색 */
}

input::placeholder {
  color: white;
}

/* 애니메이션 스타일 */
.login-box button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: transform .5s;
  transform: scaleX(0);
  transform-origin: right;
}

.login-box button.active::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* 애니메이션 스타일 */
.login-box button span {
  position: absolute;
  display: none; /* 초기에는 숨김 */
}

/* 입력 상자에 값이 있을 때 버튼 스타일 변경 */
.login-box .user-box input:valid ~ button.active {
  color: #fff; /* 하얀색 */
  border-color: #000; /* 검정색 테두리 */
}

/* 입력 상자에 값이 있을 때 버튼 스타일 변경 및 애니메이션 활성화 */
.login-box .user-box input:valid ~ button.active span {
  display: block; /* 입력이 유효하고 버튼이 활성화되면 span 표시 */
}

.buttons label {
  color: #fff;
}

.user-box .eyes {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 20px; /* 비밀번호 입력란 오른쪽에 위치하도록 설정 */
  cursor: pointer;
  color: #ccc; /* 아이콘 색상 설정 */
}

.user-box .eyes:hover {
  color: #5EE773; /* 아이콘에 마우스를 올렸을 때 색상 변경 */
}