html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(#0d0f10, #0d0f10); */
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #0d0f10;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

.login-box h1 {
    font-family: "Source Sans 3", sans-serif;
    margin: 0 0 30px;
    padding: 0;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 0.075em;
    text-align: center;
}

.login-box a {
    color: #808080;
}


.login-box .user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 0 50px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.075em;
    border: 2px solid #808080;
    transition: border-color 0.4s ease;
    background: transparent;
    color: #FFFFFF;
}

.user-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: color 0.4s ease;
}

.user-box i.icon {
    left: 10px;
}

.user-box i.uil-user {
    left: 10px;
}

.user-box .showHidePw {
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 23px;
    transition: color 0.4s ease;
}

.login-box button {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.5s;
    margin-top: 20px; 
    letter-spacing: 4px;
    background-color: #808080;
    border: none;
    border-radius: 10px;
    width: calc(100%);
}

.login-box button span {
    position: absolute;
    display: none;
}

.login-box button.active {
    background-color: white;
    color: black;
}

.login-box button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}

.login-box button.active::before {
    transform: scaleX(1);
    transform-origin: left;
}

.login-box button span {
    position: absolute;
    display: none;
}

.login-box .user-box input:valid ~ button.active {
    color: #fff;
    border-color: #000;
}

.login-box .user-box input:valid ~ button.active span {
    display: block;
}

.buttons label {
    color: #fff;
}

input::placeholder {
    color: #808080;
    letter-spacing: 0.075em;
}

.login-box .user-box input {
    color: white;
}

.alert-danger {
    display: none; /* 에러 메시지를 숨김 */
}