html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#0d0f10, #0d0f10);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #0d0f10;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    border: none;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 0 50px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    border: 2px solid #808080;
    transition: border-color 0.4s ease;
    background: transparent;
    color: white; /* 수정된 스타일 */
}

.user-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: color 0.4s ease;
}

.user-box i.icon {
    left: 10px;
}

.user-box i.uil-user {
    left: 10px;
}

.user-box .showHidePw {
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 23px;
    transition: color 0.4s ease;
}

.login-box button {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.5s;
    margin-top: 20px; 
    letter-spacing: 4px;
    background-color: #808080;
    border-radius: 10px;
    /* border: 1px solid #808080;
    border-radius: 5px; */
    width: calc(100%);
}

.login-box button span {
    position: absolute;
    display: none;
}

.login-box button.active {
    background-color: #009900;
}

input::placeholder {
    color: white;
}

.login-box button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}

.login-box button.active::before {
    transform: scaleX(1);
    transform-origin: left;
}

.login-box button span {
    position: absolute;
    display: none;
}

.login-box .user-box input:valid ~ button.active {
    color: #fff;
    border-color: #000;
}

.login-box .user-box input:valid ~ button.active span {
    display: block;
}

.buttons label {
    color: #fff;
}

input::placeholder {
    color: #808080;
}

.login-box .user-box input {
    color: white;
}