/*
---------------------------------------------
Basic
---------------------------------------------
*/

.VltPosting {
    background-color: transparent;
    border: 6px solid #FFFFFF;
    border-radius: 43px;
    padding: 50px 70px 30px;
}


/*
---------------------------------------------
Headline
---------------------------------------------
*/

/* Write */
.VltPosting .major {
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    padding-bottom: 8px;
    font-size: 2.25rem;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #FFFFFF;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

/* Save Button */
.VltPosting .save {
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px 0;
}


/*
---------------------------------------------
Form
---------------------------------------------
*/

.VltPosting .form {
    margin: 0 0 2rem 0;
}

.VltPosting .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
}

.VltPosting .fields .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
}

.VltPosting .fields .field.half {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0 1.5rem;
    width: calc(50% - 0.75rem);
}


/*
---------------------------------------------
Label
---------------------------------------------
*/

.VltPosting .title-label,
.VltPosting .year-label,
.VltPosting .gen-label,
.VltPosting .con-label,
.VltPosting .img-label {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    text-align: left;
}

/* title-counter */
.VltPosting span {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #aaa;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: none;
}

/* title-feedback */
.VltPosting p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #57F579;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    text-transform: none;
}


/*
---------------------------------------------
Input
---------------------------------------------
*/

.VltPosting input[type="text"],
.VltPosting input[type="number"],
.VltPosting textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    border: solid 2px #FFFFFF;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    color: #FFFFFF;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    resize: none;
}

.VltPosting input[type="text"]:invalid,
.VltPosting input[type="number"]:invalid,
.VltPosting textarea:invalid {
    box-shadow: none;
}

.VltPosting input[type="text"]:focus,
.VltPosting input[type="number"]:focus,
.VltPosting textarea:focus {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    background: rgba(255, 255, 255, 0.075);
    border-color: #FFFFFF;
    box-shadow: 0 0 0 1px #FFFFFF;
}

.VltPosting input[type="text"],
.VltPosting input[type="number"] {
    height: 3.25rem;
}

.VltPosting textarea {
    padding: 0.75rem 1rem;
}

.VltPosting input[type='number']::-webkit-outer-spin-button,
.VltPosting input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*
---------------------------------------------
Image Upload
---------------------------------------------
*/

.VltPosting .image-upload {
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.VltPosting input[type="file"] {
    display: none;
}

.VltPosting .file-label {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    display: block;
    position: relative;
    background-color: #0d0f10;
    color: #FFFFFF;
    border-radius: 0;
    border: 2px solid #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.075em;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.VltPosting #img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1px;
    gap: 16px;
    border-radius: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.VltPosting img {
    width: 100%;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
}

.VltPosting #num-of-files {
    display: none;
}

/* figcaption */
.image-caption {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 450;
    letter-spacing: 0.055em;
    margin-top: 0.5vmin;
    text-align: center;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .VltPosting {
        padding: 50px 50px 30px;
    }

    .VltPosting #img-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Write */
    .VltPosting .major {
        font-size: 2rem;
    }

    /* label, title-counter */
    .VltPosting label,
    .VltPosting span {
        font-size: 0.9rem;
    }

    /* title-feedback */
    .VltPosting p {
        font-size: 0.8rem;
    }

    .VltPosting input[type="text"],
    .VltPosting input[type="number"],
    .VltPosting textarea {
        font-size: 0.9rem;
    }

    .VltPosting input[type="text"]:focus,
    .VltPosting input[type="number"]:focus,
    .VltPosting textarea:focus {
        font-size: 0.9rem;
    }

    .VltPosting #img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .VltPosting {
        padding: 30px 30px 10px;
    }

    .VltPosting .fields {
        width: calc(100% + 3rem);
        margin: -1.5rem 0 2rem -1.5rem;
    }
}