/*
---------------------------------------------
Header Style
---------------------------------------------
*/

.header-area {
  background-color: transparent;
  position: absolute !important;
  height: 70px;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}