/*
---------------------------------------------
Game Details Style
---------------------------------------------
*/


/* breadcrumbs */
.vlt-project-description .breadcrumb-item {
  font-size: 17px;
  display: block;
}


/* content block */
.vlt-project-description .content {
  border-radius: 23px;
  padding: 35px;
  background-color: #1f2122;
  margin-top: 25px;
}


/*
---------------------------------------------
left-info
---------------------------------------------
*/

.vlt-project-description .content .left-info {
  background-color: #27292a;
  border-radius: 23px;
  padding: 30px;
  margin-top: 30px; /* important */
}

.vlt-project-description .content .left-info h4 {
  color: #57f579;
  font-size: 16px;
  display: block;
}

.vlt-project-description .content .left-info p {
  color: #ffffff;
  display: block;
  margin-top: 8px;
  font-weight: 650;
  font-size: 17px;
}


/*
---------------------------------------------
right-info
---------------------------------------------
*/

.vlt-project-description .content .right-info {
  background-color: #27292a;
  border-radius: 23px;
  padding: 30px;
  margin-top: 30px; /* important */

  /* align buttons */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* right-info buttons */
.vlt-project-description .content .right-info ul.right-info-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 45px; /* 버튼 간격 */
}

/* ul li */
.vlt-project-description .content .right-info ul li {
  display: inline-block;
  margin: 3px 0px;
}

/* icon */
.vlt-project-description .content .right-info ul li .fa,
.vlt-project-description .content .right-info ul li .far {
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

/* icon : like button active */
.vlt-project-description .content .right-info ul li .fas {
  color: #57f579;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

/* icon hover */
.vlt-project-description .content .right-info ul li .fa:hover,
.vlt-project-description .content .right-info ul li .far:hover,
.vlt-project-description .content .right-info ul li .fas:hover {
  color: #27292a;
}

/* button shape */
.vlt-project-description .content .right-info ul li a,
.vlt-project-description .content .right-info ul li button {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333; /* 버튼 색상 */
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  border: none; /* 버튼 테두리 제거 */
}

/* button hover */
.vlt-project-description .content .right-info ul li a:hover,
.vlt-project-description .content .right-info ul li button:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  background-color: #57f579;
}


/*
---------------------------------------------
down-content
---------------------------------------------
*/

.vlt-project-description .content .down-content {
  border-radius: 23px;
  padding: 30px;
  background-color: #27292a;
  margin-top: 30px; /* important */
}

/* title */
.vlt-project-description .content .down-content h2 {
  color: #57f579;
  font-size: 35px;
  font-weight: 650;
  text-align: left;
  margin: 20px 0px 40px 0px;
}

/* content */
.vlt-project-description .content .down-content p {
  color: #ffffff;
}


/*
---------------------------------------------
main-border-button
---------------------------------------------
*/

.vlt-project-description .main-border-button {
  margin-top: 35px;
}

.vlt-project-description .main-border-button a {
  text-align: center;
  width: 100%;
}





/* 미디어 쿼리 추가: 768px 이하 화면 크기에 대한 스타일 조정 */
@media (max-width: 768px) {
  .vlt-project-description .breadcrumb-item {
    display: none; /* breadcrumbs X */
  }
  .vlt-project-description .content .right-info ul.right-info-buttons {
    gap: 20px; /* right-info 버튼 간격 */
  }
  .vlt-project-description .content .down-content h2 {
    font-size: 23px; /* title */
  }
}