/*
---------------------------------------------
Live Stream Style
---------------------------------------------
*/

.volunteer-project {
  margin-top: 60px;
  border-radius: 23px;
  background-color: #1f2122;
  padding: 30px;
}

.volunteer-project .item {
  margin-bottom: 30px;
}

.volunteer-project .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.volunteer-project .thumb img {
  border-radius: 23px;
}

.volunteer-project .thumb:hover .hover-effect {
  opacity: 1;
  visibility: visible;
}

.volunteer-project .hover-effect {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.volunteer-project .hover-effect .live a {
  position: absolute;
  background-color: #1f2122;
  padding: 5px 10px;
  border-radius: 23px;
  color: #57f579;
  font-size: 14px;
  right: 15px;
  top: 15px;
}

.volunteer-project .hover-effect ul {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.volunteer-project .hover-effect ul li {
  display: inline-block;
  margin: 0px 5px;
}

.volunteer-project .hover-effect ul li a {
  background-color: #1f2122;
  padding: 6px 12px;
  border-radius: 23px;
  color: #57f579;
  font-size: 14px;
}

.volunteer-project .avatar img {
  margin-right: 15px;
}

.volunteer-project span i {
  color: #57f579;
  background-color: #333333;
  border-radius: 50%;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-right: 3px;
}

.volunteer-project span {
  font-size: 14px;
  color: #57f579; /* Year */
}

.volunteer-project .down-content h4 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
}

.volunteer-project .main-button {
  text-align: center;
  margin-bottom: -53px;
}

.volunteer-project .main-border-button {
  text-align: center;
  margin: -53px;
}