/*
---------------------------------------------
Banner Style
---------------------------------------------
*/

.volunteer-banner {
  background-image: url(../images/banner-bg.png);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.volunteer-banner h6 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 25px;
}

.volunteer-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.volunteer-banner h4 em {
  font-style: normal;
  color: #5ee773;
}