/*
---------------------------------------------
Footer
---------------------------------------------
*/

.footer {
    background: #0d0f10;
    border-top: 1px solid #FFFFFF;
}

.footer p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}
.footer h2 {
    font-size: 30px!important;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}
.footer h4 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}

.footer .page-link a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    transition: .5s;
}

.footer .page-link a:hover {
    letter-spacing: 2px;
}

.footer .footer-res-nav{
    display: none;
}

.footer-btn{
    border: 2px solid #FFFFFF!important;
    border-radius: 23px!important;
    background-color: #1f2122!important;
    padding:7px 25px!important;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    transition: .5s;
}
/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .footer .link {
        display: none;
    }
    .footer{
        text-align: center;
    }
    .d-flex{
        justify-content: center!important;
    }
    .footer .footer-res-nav{
        margin-top:20px!important;
        display: inline-block;
        text-align:center;
    }
}