/*
---------------------------------------------
Footer
---------------------------------------------
*/

.footer {
    background: #0d0f10;
    border-top: 1px solid #FFFFFF;
    position:relative;
    bottom:translateY(-100%);
}

.footer p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}

.footer h2 {
    font-size: 30px !important;
    font-family: "Source Sans 3", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}

.footer h4 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    font-size: 23px;
}

.footer .page-link a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    transition: .5s;
    font-size: 15px !important;
}

.footer .page-link a:hover {
    letter-spacing: 2px;
}

.footer .footer-res-nav {
    display: none;
}

.footer .footer-btn {
    border: 2px solid #FFFFFF !important;
    border-radius: 23px !important;
    background-color: #1f2122 !important;
    padding: 7px 25px !important;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    transition: .5s;
}

.footer .footer-icons {
    width: 27px !important;
    height: 27px !important;
    margin-right: 20px;
}

.footer .f-tistory {
    width: 24px !important;
    height: 24px !important;
    margin-right: 20px;
}

.footer .page-link .py-3 {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.footer .page-link .pb-3 {
    padding-bottom: 0.6rem !important;
}

/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .footer h4 {
        font-size: 20px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .footer h4 {
        font-size: 23px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .footer h4 {
        font-size: 20px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .footer .link {
        display: none;
    }

    .footer {
        text-align: center;
    }

    .footer .d-flex {
        justify-content: center !important;
    }

    .footer .footer-res-nav {
        margin-top: 40px !important;
        display: inline-block;
        text-align: center;
    }
}