/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body{
    justify-content: center;
    cursor: pointer!important;
}
.container{
  min-height: calc(100vh - 378px);
}
/* header */
header{
    position: fixed!important;
    left:0!important;
    right:0!important;
    top:0!important; 
    z-index: 100!important;
    /* font-family: "Sen","Noto Sans KR",sans-serif!important; */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
    text-align: center;
}

header nav{
    min-height: 60px;
    position: relative;
    display: flex;
    background: transparent;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 0px;
    cursor: pointer;
}
header nav .logo{
    /*border-right: 1px solid #27292a;
    flex-basis: 15%;*/
    margin-right: 580px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: inline-flex;
}
header nav .logo img{
    vertical-align: middle;
    width: 60px;
    
}
header nav .logo h2{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
  color:#FFFFFF;
  text-decoration-line: none;
  padding-top:10px;
  padding-left:10px;
}
header nav .nav{
    display: inline-flex;
    /* flex-basis: 70%; */
    /* justify-content: flex-end; */
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    /* padding-left: 80px; */
    z-index: 999;
}
header nav .nav li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
header nav .nav li a{
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    /* menu color */
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 13px 10px;
    border-radius: 18px;
    letter-spacing: .3px;
    text-decoration-line: none;
    cursor: pointer;
}

.nav .active a{
  color:aliceblue;
  font-weight: 700!important;
}

/* menu dropdown */

ul{list-style:none;}
a{
  text-decoration:none; 
  color:#333;
}
.nav:after{
  display:block; 
  content:''; 
  clear:both;
}
.nav > .dropdown{
  position:relative; 
  float:left; 
  margin-right:5px;
}
.nav > .dropdown > a{
  display:block; 
  padding:0 15px; 
  background:transparent; 
  height:45px; 
  line-height:46.4px;
}
/* nav design ver_1*/
/* .nav .depth_1{
  display:none; 
  position:absolute; 
  left: calc(50% - 80px);
  background:#0d0f1080;
  backdrop-filter: blur( 10px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 3px 15px  -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2); 
  text-align:center;
  width: 160px;
  z-index: 4; 
  margin-top: 17px;
} */

/* nav design ver_2 */
.nav .depth_1{
  display:none; 
  position:fixed; 
  left: 0;
  height: 60px;
  background:#FFFFFF;
  backdrop-filter: blur( 10px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-box-shadow: 0px 3px 15px  -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2); 
  text-align:center;
  width: 100%;
  z-index: 4; 
  margin-top: 17px;
  align-content: center;
}

.nav .depth_1 a{
  display:block; 
  padding:12px 16px; 
  font-weight: 500;
  font-size: 15px;
  /* color:#fff; nav design ver_1 */
  color:black;
}

.nav .depth_1 a:hover{
  /* letter-spacing: 0.125em; */
  font-weight: 600;
}

header nav .nav .nav-item a:hover,
header nav .nav .nav-item a.active {
    color: #fff !important;
    background-color: #5ee775 !important;
}
header nav .nav li:hover .menu_name{
    color:aliceblue;
    text-decoration: underline 3px aliceblue!important;
    text-underline-offset: 30px!important;
}
header nav .nav .nav-item a {
  background-color: transparent;
  color: #666;
  background-color: #1f2122!important;
  /*padding: 8px 10px 8px 20px;*/ 
  border-radius: 23px;
  letter-spacing: .3px;
}

header nav .nav .nav-item a img {
    max-width: 30px;
    border-radius: 50%;
    margin-left: 5px;
  }

.mainlogo{
    position:absolute;
    vertical-align: middle;
    width: 200px;
}

/* resposive nav*/

nav .res-nav{
    position: absolute;
    top:8px;
    right:20px;
    display: none;
}
nav .res-nav .burger-wrap .burger{
    color: aliceblue;
    border-radius: 5px;
    position:relative;
}
nav .res-nav-container{
  display: none;
}
/* top button */

/* top button*/
/*scroll down arrow*/
.scrolldown{
  position:absolute;
  left:0;
  right:0;
  bottom:100px;
}
.scroll-downs {
  position: absolute;
  left:0;
  right:0;
  bottom:30px;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.scrolldownwrap{
  position:relative;
  bottom:-220px;
}
.down{
  /*left: 50%;*/
  transform: translateY(0%) rotate(45deg);
  
                opacity: 0;
}
@keyframes scrolldown {
            0%{
                transform: translateY(20%) rotate(45deg);
                opacity: 0.7;
            }
            50%{
                transform: translateY(0%) rotate(45deg);
                opacity: 0.2;
            }
            100%{
                transform: translateY(20%) rotate(45deg);
                opacity: 0.7;
            }
        }
/* section */
#section{
    color: aliceblue;
    text-align: center;
    margin:auto;
}
.mainbanner{
    position:relative;
    margin:auto;
    max-width: 700px;
    width: 100%;
    padding-right:440px;
}
.mainbanner p{
    text-align: left!important;
}
.mainbanner h1{
    font-size: 100px;
    font-weight: 200;
    text-align: left!important;
}
.res-ment{
  display: none;
}
.green{
    /* background-image: linear-gradient(to right top, #0d0f10,  #5ee773);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color:#5ee775;
}
.text_box{
    position:absolute;
    font-size: 90px;
    text-align: left!important;
    max-width: 1000px;
    margin:auto;
    width:100%;
    margin-left:120px;
    top:270px;
    line-height:110px;
}
.text_box .text{
  font-weight: 800;
  font-family: "Source Sans 3", sans-serif;
}
.mainbutton{
  position:absolute;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  margin-left:120px;
  top:520px;
}
.mainbutton:hover{
  filter:brightness(80%)!important;
}
.mainbutton img{
  padding-left: 15px;
  padding-bottom:15px;
}
.mainrecruit{
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
}
.mainrecruit:hover{
  color:#FFFFFF;
  filter:brightness(100%)!important;
}
.cursor {
    animation: blink 0.5s infinite;
    font-size: 90px;
    font-weight: 400;
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }
#section .subtitle{
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-bottom: 72px;
    margin-top: 72px;
    text-align: center;
    color: aliceblue;
}

#section #qcontent {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #27292a;
    padding: 20px 50px 20px 50px;
    text-align: left;
    min-width: 1000px;
    border-radius: 23px 23px;
    cursor: pointer;
}
#section #qcontent .down{
    float: right;
}

#section #a1, #section #a2, #section #a3, #section #a4{
    margin-left: 300px;
    margin-right: 300px;
    background-color:aliceblue;
    color:#27292a;
    padding: 20px 50px 20px 50px;
    text-align: left;
    min-width: 1000px;
    border-radius: 23px 23px;
}

.bg-3 {
    color: #fff;
    position:relative;
    margin:auto;
    width: 100%;
    text-align: left!important;
}

.bg-3 .button {
    min-width: 150px;
    max-width: 250px;
    margin: 0px 900px 50px 47px;
    padding: 1em 2em;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border-color: #fff;
  }

.bg-3 .button:focus {
    outline: none;
  }
.button--size-s {
    font-size: 14px;
  }


/* habmurger */
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
/*hamburger*/

/*word banner*/
.wordbanner {
  padding-left: 330px;
  padding-top:150px;
  display: flex;
}
.wordbanner img{
  width:600px;
  filter:brightness(0.5);
  padding-top: 70px;
  padding-left: 100px;
  overflow: visible;
}

/*
** Apply styles to the parent element
*/
.Words {
  margin: 0 auto;
  padding: 80px 0;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/*
** Apply common styles to each line of text
*/
.Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
.Words-line:nth-child(1) {
  left: 29px;
}
.Words-line:nth-child(2) {
  left: 58px;
}
.Words-line:nth-child(3) {
  left: 87px;
}
.Words-line:nth-child(4) {
  left: 116px;
}
.Words-line:nth-child(5) {
  left: 145px;
}
.Words-line:nth-child(6) {
  left: 174px;
}
.Words-line:nth-child(7) {
  left: 203px;
}
#wordcolor1 p {
  /*color: aliceblue !important;*/
}
#wordcolor2 p {
  /*color: #5ee773 !important;*/
}
/*
** Fine-grained text styles
*/
.Words p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  font-size:68px;
  letter-spacing: -0.05rem;
  color:#1e2225!important;
}

/*
** The hover interaction
*/
.Words:hover p {
  transform: translate3d(0, -50px, 0);
}
/*wordbanner*/


/* test */
.main {
  letter-spacing: 0.075em!important;
  line-height: 1.8!important;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;

  & section {
    display: block;
    gap: 70px;
    margin-left:50px;
    margin-right:50px;
    margin-top:50px!important;
  }
}
.indexes, .tabs { list-style-type: none; }
  
.indexes {
  font-size: 25px;
  color: aliceblue;
  
  & li {
    padding: 1.75rem 2rem;
    border: 3px solid transparent;
    cursor: pointer;
  }
}

.tabs { position: relative; }

.tab {
  margin: 75px 0;
  width:100%;
  height:350px;
  
}

.tab-service{
  display: flex;
  position:relative;
}
.tab:nth-child(2n) .tab-imgArea{
  right:auto;
  
}
.tab:nth-child(2n) .tab-content{
  right:0;
  left:auto;
  padding-right: 50px;
  padding-left: 70px;
  margin-top:50px;
}
.tab-imgArea{
  max-width: 100%;
  position:absolute;
  top:0;
  right:48px;
}
.tab-content {
  position: absolute;
  top:50%;
  left:0;
  width:50%;
  align-content: center;
  padding-left:50px;
  padding-right:70px;
  margin-top:30px;
  /* transform: translateY(-50%); */

  & h3 {
    font-weight: 600!important;
    font-size: 30px!important;
    margin-bottom: 15px;
    line-height: 1.182;
  }

  & p {
    font-weight: 300;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
  }

  & button {
    width: fit-content;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 0.7rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }
}
.tab-items{
  position:absolute;
  right:0;
  margin-right: 50px;
}
.tab-items img{
  position:absolute;
  object-fit: cover;
  object-position: center center;
  width:400px;
  height:400px;
  right:200px;
  border-radius: 18px;
}
.tab:nth-child(2n) .tab-items{
  right:auto;
  left:0px;
  margin-left:50px;
}
.tab-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 600px;
  height: 300px;
  
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--overlay);
    mix-blend-mode: multiply;
    /* width:500px; */
  }

  & img {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    transition-delay: 500ms;
    filter: grayscale(100%);
  }
}

/* scroll 시 나타나는 애니메이션 */
.scroll_wrap{
  overflow: hidden;
}
.scroll_on {font-size: 24px;font-weight:700;text-align: center;opacity: 0;transition: all 1s;}
.scroll_on.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scroll_on.type_bottom{
  transform: translate(0, 50px);
}


/* earth networking start */
/* CSS 코드 */
/* Page Setup */
.earth {
  width: 350px;
  height: 350px;
  perspective: 50px;
}

circle {
  stroke: #FFFFFF;
  stroke-width: 3px;
  fill: none;
}

.equator {
  transform: rotateZ(-20deg) rotateX(125deg);
}

.meridian {
  animation: turn 1s infinite linear;
  transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--start));
}

@keyframes turn {
  100% {
      transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--end));
  }
}



/* earth networking end */

/* flag svg start */
.flexible {
  display: flex;
  flex-wrap: no-wrap;
  color:#FFFFFF;
  letter-spacing: -0.5rem;
  font-size: 100px;
  font-weight: bold;
  margin-top: 50px;
}

.mask {
  transform: rotate(0deg) translateY(0);
  transform-origin: center bottom;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  animation: wiggle 0.7s infinite ease-in-out;
  
}

.mask div {
  position: relative;
}

@keyframes wiggle {
  50% {
    transform: rotate(10deg) translateY(-20px);
  }
}
/*flag svg end*/

/* coding start */
.coding path#pathtuto1,.coding path#pathtuto2,.coding path#pathtuto3{
  stroke:#FFFFFF;
  fill:none;
}
.coding path#pathtuto2,.coding path#pathtuto3{
  display:none;
}
.coding{
  display:block;
  width:350px;
  margin:0 auto;
  margin-right:70px;
}
/* coding end */

/* error page */
.error-container{
  align-content: center;
  text-align: center;
  height: 100vh;
  padding: 50px;
}
.content404 h2{
  font-size: 45px;
  color: #FFFFFF;
}
.content404 p{
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  color: #666;
}
.content404 .p{
  margin: 0px 0px 80px 0px !important;
}
.content404 .res-p{
  display: none!important;
}
.content404 .midment{
  margin: 0px !important;
}
/* partnership */
.partnership{
  margin:50px 0px 300px 0px;
  /* text-align: center; */

  position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.partner-grid{
  /* display: grid;
  grid-auto-flow: column;
  justify-content: center;
  filter: grayscale(0.5);
  gap:0px 30px;
  margin-bottom: 50px; */
  text-align: center;
  margin-bottom: 50px;
}
.partner{
  /* width:300px;
  align-content: center; */

  position: relative;
  display: inline-block;
  width: 260px;
  height: 80px;
  margin: 0px 50px;
}
.partner-logo{
  /* height:150px;
  align-content: center; */
  box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.partner-logo img{
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
  
}
.partner a{
  color: #FFFFFF!important;
  font-size: 20px;
  text-align: center;
  display: none;
  margin: 20px 40px;
  padding-bottom: 10px;
  font-weight: 500;
  /* border-bottom: 5px solid #FFFFFF; */
}
.hspace{
  width:250px;
}
.kucis{
  width:150px;
}
.cca{
  width:250px;
}
/* partnership end */