/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    justify-content: center;
}
/* header */
header{
    position: fixed!important;
    left:0!important;
    right:0!important;
    top:0!important; 
    z-index: 100!important;
    font-family: "Sen","Noto Sans KR",sans-serif!important;
    text-align: center;
    background-color: #1f2122;
    /*background-color: rgba(0,0,0,0.2);*/
}

header nav{
    min-height: 70px;
    position: relative;
    display: flex;
    background: transparent;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    border-radius: 0px;
}
header nav .logo{
    /*border-right: 1px solid #27292a;
    flex-basis: 15%;*/
    margin-right: 580px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    /*로고 글씨체 크기 및 굵기 변경*/
    font-size: 30px;
    font-weight: bold;
    color:aliceblue;
    text-decoration-line: none;

}
header nav .logo img{
    vertical-align: middle;
    width: 70px;
    
}
header nav #search {
    position: relative;

  }
  
header nav #search input {
    background-color: #27292a;
    height: 46px;
    border-radius: 23px;
    border: none;
    color: #666;
    font-size: 14px;
    padding: 0px 15px 0px 45px;
  }
  
header nav #search i {
    position: absolute;
    color: #666;
    left: 20px;
    top: 16px;
    width: 18px;
    height: 18px;
    font-size: 16px;
  }
header nav .nav{
    display: inline-flex;
    /* flex-basis: 70%; */
    /* justify-content: flex-end; */
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    /* padding-left: 80px; */
    z-index: 999;
}
header nav .nav li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
header nav .nav li a{
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    /* 메뉴바 글씨 색상 */
    color: #666;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 13px 10px;
    border-radius: 18px;
    letter-spacing: .3px;
    text-decoration-line: none;
}

/* 메뉴 드롭다운 */
*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:#333;}
.nav:after{display:block; content:''; clear:both;}
.nav > .dropdown{position:relative; float:left; margin-right:5px;}
.nav > .dropdown > a{display:block; padding:0 15px; background:transparent; height:45px; line-height:50px;}
.nav > .dropdown:hover .depth_1 {display:block;}
.nav .depth_1{display:none; position:absolute; left: calc(50% - 80px);border-radius: 18px;
    background-color: #1f2122;
    -webkit-box-shadow: 0px 3px 15px  -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2); text-align:center;width: 160px;z-index: 4;}
.nav .depth_1 a{display:block; padding:12px 16px; background: transparent; color:#fff;}
.nav .depth_1 a:hover{color: #5ee773!important;background-color: #333!important;}

header nav .nav .nav-item a:hover,
header nav .nav .nav-item a.active {
    color: #fff !important;
    background-color: #5ee775 !important;
}
header nav .nav li:hover a{
    color:aliceblue;
}
header nav .nav li:last-child:hover a,
header nav .nav li:last-child a.active {
    color: #5ee773;
    background-color: #27292a;
}
header nav .nav .nav-item a {
  background-color: transparent;
  color: #666;
  background-color: #1f2122!important;
  /*padding: 8px 10px 8px 20px;*/ 
  border-radius: 23px;
  letter-spacing: .3px;
}

header nav .nav .nav-item a img {
    max-width: 30px;
    border-radius: 50%;
    margin-left: 5px;
  }

.mainlogo{
    position:absolute;
    vertical-align: middle;
    width: 70px;
    left:200px;
    top: 20px;
}

/*scroll down*/
.scrolldown{
    position:absolute;
    left:0;
    right:0;
    bottom:120px;
}
.scroll-downs {
    position: absolute;
    left:0;
    right:0;
    bottom:50px;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/* section */
#section{
    color: aliceblue;
    text-align: center;
}
.mainbanner{
    position:absolute;
    left:250px;
    top:220px;
}
.mainbanner p{
    text-align: left!important;
}
.mainbanner h1{
    font-size: 100px;
    font-weight: 200;
    text-align: left!important;
}
.green{
    color:#5ee773;
}
.text_box{
    position:absolute;
    left:250px;
    top:250px;
    /* height: 100px;*/
    font-size: 100px;
    font-weight: 900;
    text-align: left!important;
}
.cursor {
    animation: blink 0.5s infinite;
    font-size: 100px;
    font-weight: 400;
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }
#section .subtitle{
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-bottom: 72px;
    margin-top: 72px;
    text-align: center;
    color: aliceblue;
}

#section #qcontent {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #27292a;
    padding: 20px 50px 20px 50px;
    text-align: left;
    min-width: 1000px;
    border-radius: 23px 23px;
    cursor: pointer;
}
#section #qcontent .down{
    float: right;
}

#section #a1, #section #a2, #section #a3, #section #a4{
    margin-left: 300px;
    margin-right: 300px;
    background-color:aliceblue;
    color:#27292a;
    padding: 20px 50px 20px 50px;
    text-align: left;
    min-width: 1000px;
    border-radius: 23px 23px;
}

#section .insta{
    float: none;
    margin-top: 50px;
}

.bg-3 {
    background: #37474f;
    color: #fff;
    position:absolute;
    left:240px;
    top:570px;
  }

.bg-3 .button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border-color: #fff;
  }

.bg-3 .button:focus {
    outline: none;
  }
.button--size-s {
    font-size: 14px;
  }
/* Wayra */
.button--wayra {
    overflow: hidden;
    width: 245px;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  .button--wayra:hover {
    color: #fff;
    border-color: #1f2122;
  }
  .button--wayra.button--inverted:hover {
    color: #1f2122;
    border-color: #fff;
  }
  .button--wayra:hover::before {
    opacity: 1;
    background-color: #1f2122;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
  .button--wayra.button--inverted:hover::before {
    background-color: #fff;
  } 
.button--border-medium {
    border: 2px solid;
  }
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase 
}
.button--text-thick {
    font-weight: 600;
  }
#section-footer{
  color: aliceblue;
  border-top: 0.5px solid aliceblue;
}
#footer-text{
  height: 200px;
}
#section-footer p
{
	text-align: center;
}