@charset "utf-8";

@media(max-width:1278px){
    header{
        -webkit-box-shadow: 0px 3px 15px  -1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
    }
    header nav .res-nav {
        display: block;
    }
    header nav{
        display: block;
    }
    header nav .nav{
        display: none;
        flex-wrap: wrap;
        width:100%;
        padding-right: 0;
        background-color: #0d0f10 ;
        /*적용 안됨*/
        backdrop-filter: blur( 4.5px );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-top: 15px;
    }
    header nav .nav .depth_1{
        position:static;
        width:100%;
        box-shadow: none;
        background-color: #0d0f10 ;
        /*적용 안됨*/
        backdrop-filter: blur( 4.5px );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-bottom:0px!important;
        border-radius: 0px;

    }
    header nav .logo{
        text-align: center; 
        width:100%;
        margin-right: 25px;
    }
    header nav .nav li{
        display: inline-block;
        width: 100%;
        text-align: center;
        color:aliceblue;
        padding-left: 0;
        padding-right:0;
    }
    .s1-wrap{
        padding:0px 30px;
    }
    .text_box{
        position:absolute;
        font-size: 70px;
        font-weight: 900;
        text-align: center!important;
        max-width: 700px;
        margin:auto;
        width:100%;
        padding:0px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height:90px;
    }
    .cursor {
        animation: blink 0.5s infinite;
        font-size: 80px;
        font-weight: 400;
      }
    .mainbanner{
        padding-right: 0px;
    }
    .mainbanner p{
        text-align: center!important;
    }
    .bg-3 .button{
        margin: 35px 0px 50px 0px;
    }
    .nav > .dropdown:hover .depth_1 {display:none;}
    #section-footer h2{
        color:aliceblue;
        font-size:27px!important;
        font-weight:700;
      }
      #section-footer h3{
        color:aliceblue;
        font-size: 16px;
        font-weight: 400;
      }
      #section-footer p{
        color:#666!important;
        font-size: 13px;
      }
      .footer-nav .footer-category>li{
        padding-left: 30px;
        /* padding-top : 8px; */
        padding-right: 8px;
        color:#666!important;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.075em;
        line-height: 1.8;
        float:right;
      }
      #section-footer{ 
        padding: 50px 40px 5px 40px;
      }
      .Words-line{
        position:static!important;
      }
      .Words p{
        font-size: 55px!important;
      }
      .wordbanner {
        padding-left: 0px;
        padding-top: 120px;
        display: flex;
      }
      .blog-slider__title{
        font-size: 20px;
      }
      .bg-3{
        text-align: center!important;
      }
      header nav .nav li:hover .menu_name{
        text-underline-offset: 10px!important;
      }
      .main {
        max-width: 1000px!important;
        max-height: 900px!important;
        letter-spacing: 0.075em!important;
        line-height: 1.8!important;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
        
        & section {
          display: block;
          gap: 70px;
          justify-content: center;
          margin-top:70px!important;
          margin-left: 0px;
          margin-bottom:200px;
          min-height: 400px;
        }
      }
      .tab{
        position: absolute;
        display: flex;
        width: auto;
        height: auto;
        opacity: 0; 
        background-color: transparent;
        overflow: hidden;
        padding-top:40px;
        padding-bottom: 20px;
        padding-left:20px;
      }
      .tab-content{
        width:100%;
        margin:auto;
      }
      .tab-image {
        width:0px;
        height:0px;
      }
      .indexes {
        font-size: 20px;
        color: aliceblue;
        display: flex;
        justify-content: center;
        
        & li {
          padding: 1.75rem 2rem;
          border: 3px solid transparent;
          cursor: pointer;
          display: inline-block;
        }
      }
      #footer-text .footer-nav{
          display: none!important;
      }
      #footer-text .footer-res-nav{
          display: block;
          width:50%;
          text-align:right;
      }
}

@media(min-width:1278px){
    header nav .nav{
        display: inline-flex!important;
    }
}