@charset "utf-8";

@media(max-width:1298px){
    header{
        -webkit-box-shadow: 0px 3px 15px  -1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.2);
    }
    header nav .res-nav {
        display: block;
    }
    header nav{
        display: block;
    }
    nav .res-nav-container{
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      padding: 0px;
      /* margin: 56px 0px 0px; */
      background: #0d0f10;
      transition: transform 0.7s ease-in-out 0s;
      transform: translateY(0px);
      overflow: hidden auto;
      top: 0px;
      left: 0px;
      z-index: -1;
    }
  
  nav .res-nav-container.active {
      display: block; /* active 클래스가 추가되면 보이도록 설정 */
      /* 나머지 스타일 유지 */
  }
  
    nav .res-nav-container .res-nav-item:first-child{
      display: inherit;
      transition: opacity 0.5s ease-in-out 0.9s;
      opacity: 1;
      margin-top: 150px;
    }
    nav .res-nav-container .res-nav-item{
      display: inherit;
      transition: opacity 0.5s ease-in-out 0.9s;
      opacity: 1;
    }
    nav .res-nav-container .res-nav-item>a{
      width: 100%;
      height: 72px;
      line-height: 72px;
      letter-spacing: 0.075em;
      color:#FFFFFF;
      font-weight: 700;
      font-size: 20px;
      font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
    }
    nav .res-nav-container .res-nav-item ul>li{
      height: 65px;
      line-height: 65px;
      letter-spacing: 0.075em;
      color:#FFFFFF;
      background: rgb(25, 28, 32);
      font-weight: 500;
      font-size: 17px;
      font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
    }
    nav .res-nav-container .res-nav-item ul>li>a:hover{
      letter-spacing: 0.125em!important;
      color:#FFFFFF!important;
      font-weight: 600!important;
    }
    nav .res-nav-container .res-nav-item .depth_1{
      display: none;
    }
    nav .res-nav-container .mention>p{
      position:absolute;
      bottom:70px;
      left:0;
      right:0;
      font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
    }
    header nav .nav{
        display: none;
        flex-wrap: wrap;
        width:100%;
        padding-right: 0;
        background-color: #0d0f10 ;
        /*적용 안됨*/
        backdrop-filter: blur( 4.5px );
        margin-top: 15px;
    }
    header nav .nav .depth_1{
        position:static;
        width:100%;
        box-shadow: none;
        background-color: #0d0f10 ;
        /*적용 안됨*/
        backdrop-filter: blur( 4.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-bottom:0px!important;
        border-radius: 0px;

    }
    header nav .logo{
        text-align: center; 
        width:100%;
        margin-left: 25px;
    }
    header nav .nav li{
        display: inline-block;
        width: 100%;
        text-align: center;
        color:aliceblue;
        padding-left: 0;
        padding-right:0;
    }
    header nav .nav li:hover .menu_name{
      color:aliceblue;
      font-weight: 700;
      text-decoration: underline 0px aliceblue!important;
      text-underline-offset: 0px!important;
    }
    .nav .depth_1{
      margin-top: 0px!important;
    }
    .s1-wrap{
        padding:0px 30px;
    }
    .text_box{
        position:absolute;
        font-size: 70px;
        font-weight: 900;
        text-align: center!important;
        max-width: 700px;
        margin:auto;
        width:100%;
        padding:0px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height:90px;
    }
    .cursor {
        animation: blink 0.5s infinite;
        font-size: 80px;
        font-weight: 400;
      }
    .mainbanner{
        padding-right: 0px;
    }
    .mainbanner p{
        text-align: center!important;
    }
    .bg-3 .button{
        margin: 35px 0px 50px 0px;
    }
    .nav > .dropdown:hover .depth_1 {display:none;}
    #section-footer h2{
        color:aliceblue;
        font-size:27px!important;
        font-weight:700;
      }
      #section-footer h3{
        color:aliceblue;
        font-size: 16px;
        font-weight: 400;
      }
      #section-footer p{
        color:#666!important;
        font-size: 13px;
      }
      .footer-nav .footer-category>li{
        padding-left: 30px;
        /* padding-top : 8px; */
        padding-right: 8px;
        color:#666!important;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.075em;
        line-height: 1.8;
        float:right;
      }
      #section-footer{ 
        padding: 50px 40px 5px 40px;
      }
      .Words-line{
        position:static!important;
      }
      .Words p{
        font-size: 55px!important;
      }
      .wordbanner {
        padding-left: 0px;
        padding-top: 120px;
        display: flex;
      }
      .blog-slider__title{
        font-size: 20px;
      }
      .bg-3{
        text-align: center!important;
      }
      header nav .nav li:hover .menu_name{
        text-underline-offset: 10px!important;
      }
      .main {
        max-width: 1000px!important;
        max-height: 900px!important;
        letter-spacing: 0.075em!important;
        line-height: 1.8!important;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
        
        & section {
          display: block;
          gap: 70px;
          justify-content: center;
          margin-top:70px!important;
          margin-left: 0px;
          margin-bottom:200px;
          min-height: 400px;
        }
      }
      .tab{
        position: absolute;
        display: flex;
        width: auto;
        height: auto;
        opacity: 0; 
        background-color: transparent;
        overflow: hidden;
        padding-top:40px;
        padding-bottom: 20px;
        padding-left:20px;
      }
      .tab-content{
        width:100%;
        margin:auto;
      }
      .tab-image {
        width:0px;
        height:0px;
      }
      .indexes {
        font-size: 20px;
        color: aliceblue;
        display: flex;
        justify-content: center;
        
        & li {
          padding: 1.75rem 2rem;
          border: 3px solid transparent;
          cursor: pointer;
          display: inline-block;
        }
      }
      #footer-text .footer-nav{
          display: none!important;
      }
      
}
