.special {
    color: var(--fg);
    font-size: 1.3em!important;
    /* margin-bottom: 200px; */
    padding-top: 150px;
    margin-top:200px;
}

.special .heading-section {
    margin-top: 200px;
    text-align: center;
}

/* 활동은 어떻게 진행되나요? */
.special .heading-section h1 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    font-size:40px;
}

/* 슬라이더 start */
* {
  box-sizing: border-box;
}
.vivid{ /*wrapper*/
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-top: 400px;
  margin-bottom: 350px;
}

.vividtitle h1{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1.3;
  font-size:40px!important;
}
#news-line{
  display:flex;
  margin:100px 0px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap!important;
}
#news-line::-webkit-scrollbar {
  /* 스크롤바 너비 조절하는 부분 */
  height: 6px; 
}
#news-line::-webkit-scrollbar,
#news-line::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 10px;
}

#news-line::-webkit-scrollbar-thumb {
  /* background: #5EE773; */
  background: #252424;
  width: 10px!important;
}
#news-line .news-box{
  display: inline;
  width: 350px;
  height:350px;
  margin: 10px 10px 5px 10px;
  padding: 0px;
  background-color: black;
  filter:brightness(1);
  /* flex: 0 0 90%;*/
  /* box-shadow: 0 0 10px 5px #fffdfdaa, 0 0 10px 5px rgba(205, 205, 205, 0.324); */
}
#news-line .news-box:hover img{
  filter:brightness(0.3);
  /* box-shadow: 0 0 10px 5px #fffdfdaa, 0 0 10px 5px rgba(205, 205, 205, 0.324); */
}
#news-line .news-box .caption{
  position:absolute;
  top: 45%;
  left: 0;
  right:0;
  opacity: 0;
  z-index: 1;
  text-align: center;
  transition: 0.5s;
}
#news-line .news-box .caption h2{
  color: #FFFFFF;
  font-size: 18px!important;
  letter-spacing: 0.125em;
  font-weight: 500;
  line-height: 1.8;
}
#news-line .news-box:hover .caption{
  opacity: 1;
  filter:brightness(1);
}
#news-line .news-box img{
  width:350px!important;
  height:350px!important;
}
#news-line .news-box p{
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: left;
  letter-spacing: 0.075em;
  line-height: 1.8;
  font-size: 15px!important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.special-button{
  color:#FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.15em!important;
  line-height: 1.8;
  font-size: 20px!important;
  font-weight: 600;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
}
.special-button:hover{
  letter-spacing: 0.2em!important;
  color:#FFFFFF;
}
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 600px;
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 0px 14px 80px rgba(0,0,0,0.2);
  padding: 25px;
  /*border:3px solid #FFFFFF;*/
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
    margin:0 auto!important;
  }
  .vivid{
    display: block;
  }
  .slidebody {
    background-color: transparent;
    max-height: 500px;
    display: inline-block;
    margin-bottom:200px;
  }
  .blog-slider__content{
    margin-top: 0px !important;;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
  transform: translate3d(-650px,0px,0px);
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  
  box-shadow: 4px 13px 30px 1px  rgba(0,0,0,0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -100px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #666;
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.075em;
  line-height: 1.8;
  text-transform: none;
}
.blog-slider__title {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.075em;
  line-height: 1.8;
  text-transform: none;
  color: black;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: black;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.075em;
  line-height: 1.8;
  text-transform: none;
}
.blog-slider__button {
  display: inline-flex;
  background-image: #57f579;
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px  rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #57f579;
  height: 30px;
  box-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
/* slider end */