.special {
    color: var(--fg);
    font-size: 1.3em!important;
    /* margin-bottom: 200px; */
    padding-top: 100px;
}

.special .heading-section {
    margin-top: 200px;
    text-align: center;
}

/* 활동은 어떻게 진행되나요? */
.special .heading-section h1 {
    font-family: "Source Sans 3", sans-serif; 
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    font-size:40px;
}

/* 슬라이더 start */
* {
  box-sizing: border-box;
}
.vivid{ /*wrapper*/
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-top: 200px;
}
.scroll-container{
  position:relative;
  display:flex;
  align-content: center;
  margin: 80px auto;
  width: 100%;
  height:300px;
  overflow: hidden;
}

.carousel-primary{
  position:absolute;
  display: flex;
  gap: 0 60px;
  width: max-content;
  animation: scroll-horizontal 20s linear infinite;
  padding-right:60px;
}
.carousel-secondary{
  animation: scroll-horizontal-2 20s linear infinite;
  /* margin-left:60px; */
}
.carousel-primary:hover, .carousel-primary:hover~.carousel-secondary{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.carousel-secondary:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.scroll-container:hover>.carousel-primary:not(:hover){
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes scroll-horizontal-2 {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.vividtitle h1{
  font-family: "Source Sans 3", sans-serif!important;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1.3;
  font-size:40px!important;
}
#news-line .news-box{
  display: inline;
  width: 250px;
  height:250px;
  padding: 0px;
  background-color: black;
  filter:brightness(1);
  text-align: center;
}
#news-line .news-box:hover img{
  filter:brightness(0.3);
}
#news-line .news-box .caption{
  position:absolute;
  top: 50%;
  left: 60px;
  right:0;
  opacity: 0;
  z-index: 1;
  text-align: center;
  transition: 0.5s;
}
#news-line .news-box .caption h2{
  color: #FFFFFF;
  font-size: 18px!important;
  letter-spacing: 0.125em;
  font-weight: 500;
  line-height: 1.8;
}
#news-line .news-box:hover .caption{
  opacity: 1;
  filter:brightness(1);
}
#news-line .news-box img{
  width:300px!important;
  height:300px!important;
}
#news-line .news-box p{
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: left;
  letter-spacing: 0.075em;
  line-height: 1.8;
  font-size: 15px!important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.special-button{
  color:#FFFFFF;
  border: solid 3px #FFFFFF;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.2em!important;
  line-height: 1.8;
  font-size: 15px!important;
  font-weight: 700;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif!important;
}
.special-button:hover{
  background-color: rgba(255, 255, 255, 0.075);
  color:#FFFFFF;
}

@media screen and (max-width: 992px) {
  .vivid{
    display: block;
  }
}
