/*
---------------------------------------------
Basic
---------------------------------------------
*/

.CommentForm {
    background-color: transparent;
    border: 6px solid #FFFFFF;
    border-radius: 43px;
    padding: 50px 50px 60px;
}


/*
---------------------------------------------
Headline
---------------------------------------------
*/

/* Write */
.CommentForm .major {
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    padding-bottom: 8px;
    font-size: 2.25rem;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #FFFFFF;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

/* Save Button */
.CommentForm .save {
    font-size: 32px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px 0;
}


/*
---------------------------------------------
Label
---------------------------------------------
*/

.CommentForm .name-label,
.CommentForm .content-label {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    text-align: left;
}

/* content-counter */
.CommentForm #content-counter {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #aaaaaa;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 0 0 1rem 0;
    text-transform: none;
}

.CommentForm #name-counter {
    color: #aaaaaa;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}


/*
---------------------------------------------
Container
---------------------------------------------
*/

.text-container,
.textarea-container {
    position: relative;
    display: flex;
    align-items: center;
}


/*
---------------------------------------------
Input[type="text"]
---------------------------------------------
*/

.CommentForm input[type="text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    border: solid 2px #FFFFFF;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    color: #FFFFFF;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.CommentForm input[type="text"]:invalid {
    box-shadow: none;
}

.CommentForm input[type="text"]:focus {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    background: rgba(255, 255, 255, 0.075);
    border-color: #FFFFFF;
    box-shadow: 0 0 0 1px #FFFFFF;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.CommentForm input[type="text"] {
    height: 3.4rem;
}

.CommentForm #name-counter {
    position: absolute;
    right: 1.2rem;
    top: 43%;
    transform: translateY(-50%);
}


/*
---------------------------------------------
Textarea
---------------------------------------------
*/

.CommentForm textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    border: solid 2px #FFFFFF;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    color: #FFFFFF;
    display: block;
    outline: 0;
    padding: 0.75rem 1rem;
    text-decoration: none;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

.CommentForm textarea:invalid {
    box-shadow: none;
}

.CommentForm textarea:focus {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    background: rgba(255, 255, 255, 0.075);
    border-color: #FFFFFF;
    box-shadow: 0 0 0 1px #FFFFFF;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.CommentForm #content-counter {
    position: absolute;
    right: 1.5rem;
    bottom: 0.1rem;
}

.CommentForm textarea {
    height: 200px;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .CommentForm .name-label,
    .CommentForm .content-label {
        font-size: 0.9rem;
    }

    .CommentForm input[type="text"],
    .CommentForm textarea {
        font-size: 0.9rem;
    }

    .CommentForm input[type="text"]:focus,
    .CommentForm textarea:focus {
        font-size: 0.9rem;
    }

    .CommentForm #content-counter,
    .CommentForm #name-counter {
        font-size: 0.8rem;
    }

    /* name counter */
    .CommentForm #name-counter {
        top: 44%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* input[type="text"] */
    .CommentForm input[type="text"] {
        height: 3.25rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .CommentForm {
        padding: 40px 40px 50px;
    }

    /* Write */
    .CommentForm .major {
        font-size: 2rem;
    }

    /* Save Button */
    .CommentForm .save {
        font-size: 30px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .CommentForm {
        border-radius: 23px;
        padding: 35px 30px 45px;
    }

    /* Write */
    .CommentForm .major {
        font-size: 1.8rem;
    }

    /* Save Button */
    .CommentForm .save {
        font-size: 28px;
    }

    /* label */
    .CommentForm .name-label,
    .CommentForm .content-label {
        font-size: 0.8rem;
    }

    /* counter */
    .CommentForm #content-counter,
    .CommentForm #name-counter {
        font-size: 0.7rem;
    }
}


/*
---------------------------------------------
Dimensions
---------------------------------------------
*/

@media (max-width: 390px) {
    /* Write */
    .CommentForm .major {
        font-size: 1.6rem;
    }

    /* Save Button */
    .CommentForm .save {
        font-size: 26px;
    }

    #name-counter {
        right: 1.1rem;
    }

    #content-counter {
        right: 1.4rem;
    }
}

@media (max-width: 380px) {
    .CommentForm textarea {
        height: 250px;
    }
}

@media (max-width: 320px) {

}