/*
---------------------------------------------
Title
---------------------------------------------
*/

.DevList .title {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    text-transform: capitalize;
}


/*
---------------------------------------------
Custom Text
---------------------------------------------
*/

.DevList h5 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.075em;
    font-weight: 800;
    color: #000000;
}

.DevList span {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: 0.055em;
    font-size: 13px;
    font-weight: 550;
    line-height: 1.5;
    /* color: #696B6E; */
}


/*
---------------------------------------------
Item
---------------------------------------------
*/

.dev-item {
    position: relative;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 23px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*
---------------------------------------------
Task
---------------------------------------------
*/

.dev-item .dev-task {
    text-align: center;
    padding: 0 10px;
}

.dev-item .dev-task a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #000000;
    background-color: transparent;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 0.075em;
    text-decoration: none;
    border: none;
    margin-top: 15px;
    padding: 5px;
}

.dev-item .dev-task a:hover {
    color: #000000;
    background-color: #EEEEEE;
    border: none;
}


/*
---------------------------------------------
Social
---------------------------------------------
*/

.dev-item .dev-social {
    position: absolute;
    padding: 0;
    top: 15px;
    left: 0;
    overflow: hidden;
}

.dev-item .dev-social li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -50px;
    opacity: 0;
    transition: .5s;
}

.dev-item:hover .dev-social li {
    margin-left: 15px;
    opacity: 1;
}

.dev-item .dev-social li .btn {
    background: #424549;
    color: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
}

.dev-item .dev-social li .btn:hover {
    color: #424549;
    background: #FFFFFF;
    border: none;
}

.dev-item .dev-social li:nth-child(1) {
    transition-delay: .1s;
}

.dev-item .dev-social li:nth-child(2) {
    transition-delay: .2s;
}

.dev-item .dev-social li:nth-child(3) {
    transition-delay: .3s;
}

.dev-item .dev-social li:nth-child(4) {
    transition-delay: .4s;
}

.dev-item .dev-social li:nth-child(5) {
    transition-delay: .5s;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .dev-item #devlink {
        display: none;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .dev-item #devlink {
        display: inline-block;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .dev-item #devlink,
    .dev-item #footerlink {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .dev-item #devlink,
    .dev-item #footerlink {
        display: inline-block;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}