/*
---------------------------------------------
Basic
---------------------------------------------
*/

.vlt-intro {
    background-color: transparent;
    border-radius: 0;
    margin-top: 0;
}


/*
---------------------------------------------
Line
---------------------------------------------
*/

.vlt-intro .line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.vlt-intro .line::before,
.vlt-intro .line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background-color: #57f579; /* line color */
    height: 1.5px;
    font-size: 0px;
    line-height: 0px;
}

/* y projects */
.vlt-intro .line h6 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    color: #57f579;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.06em;
}


/*
---------------------------------------------
Major
---------------------------------------------
*/

.vlt-intro .major {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 3rem;
}


/*
---------------------------------------------
Headline
---------------------------------------------
*/

.vlt-intro .headline {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

/* <em>Discover</em> Our Projects! */
.vlt-intro .headline h2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 0.075em;
}

.vlt-intro .headline em {
    font-style: normal;
    color: #57f579;
}


/*
---------------------------------------------
Write-Button
---------------------------------------------
*/

.vlt-intro .write-button a {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: transparent;
    border: 1.8px solid #fff;
    border-radius: 0;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.2rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.vlt-intro .write-button a:hover {
    border-color: #fff;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    /* Discover Our Projects! */
    .vlt-intro .headline h2 {
        font-size: 2.8rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* Discover Our Projects! */
    .vlt-intro .headline h2 {
        font-size: 2.6rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .vlt-intro .major {
        margin-bottom: 2.5rem;
    }

    /* Discover Our Projects! */
    .vlt-intro .headline h2 {
        font-size: 2.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .vlt-intro .major {
        margin: 2.5rem 0;
    }

    /* Discover Our Projects! */
    .vlt-intro .headline h2 {
        font-size: 2rem;
        line-height: 1.2;
        margin: 0 2.5rem 0 0;
    }
}