/*
---------------------------------------------
Copyright
---------------------------------------------
*/

.copyright {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #0D0F10;
    background-color: #FFFFFF;
}

.copyright a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #0D0F10;
    transition: .5s;
}

.copyright a:hover {
    letter-spacing: 2px;
}