/*
---------------------------------------------
Basic
---------------------------------------------
*/

.Curriculum {
    margin-top: 160px;
}


/*
---------------------------------------------
Title
---------------------------------------------
*/

.Curriculum .title {
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    text-transform: capitalize;
}


/*
---------------------------------------------
Left-Info, Right-Info
---------------------------------------------
*/

.Curriculum .left-info,
.Curriculum .right-info {
    background-color: transparent;
    border: 5px solid #FFFFFF;
    border-radius: 23px;
    padding: 30px;
}


/*
---------------------------------------------
Scheme
---------------------------------------------
*/

.Curriculum .scheme h3 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    padding-bottom: 8px;
    font-size: 28px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #FFFFFF;
    transition: 0.3s;
    letter-spacing: 0.075em;
}

.Curriculum .scheme .icon-box {
    margin-top: 50px;
}

.Curriculum .scheme .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 0;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.Curriculum .scheme .icon-box h4 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.075em;
}

.Curriculum .scheme .icon-box p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 24px;
    font-size: 14.5px;
    font-weight: 450;
    margin-bottom: 0;
    color: #FFFFFF;
    letter-spacing: 0.055em;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .Curriculum .scheme h3 {
        font-size: 27px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .Curriculum .scheme h3 {
        font-size: 26px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .Curriculum .scheme h3 {
        font-size: 25px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .Curriculum .scheme h3 {
        font-size: 24px;
    }
}


/*
---------------------------------------------
Dimensions :: padding
---------------------------------------------
*/

@media (max-width: 390px) {
    .Curriculum .left-info,
    .Curriculum .right-info {
        padding: 25px;
    }
}

@media (max-width: 330px) {
    .Curriculum .left-info,
    .Curriculum .right-info {
        padding: 20px;
    }
}


/*
---------------------------------------------
Dimensions :: h4, p
---------------------------------------------
*/

@media (max-width: 400px) {
    .Curriculum .scheme .icon-box h4 {
        font-size: 18px;
    }

    .Curriculum .scheme .icon-box p {
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    .Curriculum .scheme .icon-box p {
        font-size: 13px;
    }
}


/*
---------------------------------------------
Dimensions :: h3
---------------------------------------------
*/

@media (max-width: 400px) {
    .Curriculum .scheme h3 {
        font-size: 22px;
    }
}


/*
---------------------------------------------
Dimensions :: icon box
---------------------------------------------
*/

@media (max-width: 400px) {
    .Curriculum .scheme .icon-box {
        margin-top: 40px;
    }

    .Curriculum .scheme .icon-box i {
        margin-right: 25px;
        font-size: 24px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 375px) {
    .Curriculum .scheme .icon-box i {
        margin-right: 22px;
        font-size: 22px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 330px) {
    .Curriculum .scheme .icon-box i {
        display: none;
    }
}