<!-- footer Start -->
<div>
    <div id="section-footer">
        <div id="footer-text">
            <div class="footerbox">
                <h2> I.Sly() </h2><p> since 2020 </p>
                <div class="footer-contact">
                    <h3> Contact </h3>
                    <ion-icon class="insta" size="large" name="logo-instagram"></ion-icon>
                    <ion-icon class="call" size="large" name="call"></ion-icon>
                    <ion-icon class="talk" size="large" name="chatbubbles"></ion-icon>
                </div>
            </div>
            <div class="footer-nav">
                <ul class="footer-category">
                    <li><a href="/recruit/">Recruit</a></li>
                    <li><a href="/CTF-Challenge/">Wargame</a></li>
                    <li><a href="/volunteer/">Project</a></li>
                    <li>
                        <a>About</a>
                        <ul class="aboutcolumn">
                            <li><a href="/introduction/"> 동아리 소개 </a></li>
                            <li><a href="/notice/"> 공지사항 </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- responsive footer -->
            <div class="footer-res-nav">
              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle footer-btn" data-bs-toggle="dropdown" aria-expanded="false">
                  Go to Menu
                </button>
                <ul class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <li><a href="/recruit/">Recruit</a></li>
                    <li><a href="/CTF-Challenge/">Wargame</a></li>
                    <li><a href="/volunteer/">Project</a></li>
                    <li>
                        <a>About</a>
                        <ul class="aboutcolumn">
                            <li><a href="/introduction/"> 동아리 소개 </a></li>
                            <li><a href="/notice/"> 공지사항 </a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
            <!-- responsive footer end -->
        </div>
    </div>
</div>
<!-- footer End -->