    <!-- Footer Start -->
    <div class="container-fluid text-light footer mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-xl-8 col-lg-6 col-md-4">
                    <h4 class="text-white mb-4">I.Sly()</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Sungshin Women's Univ.</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>official.i.sly0@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                 <!-- responsive footer -->
                <div class="footer-res-nav col-md-4">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle footer-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            Go to Menu
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Dropdown menu links -->
                            <li><a href="/recruit/">Recruit</a></li>
                            <li><a href="/CTF-Challenge/">Wargame</a></li>
                            <li><a href="/volunteer/">Project</a></li>
                            <li>
                                <a>About</a>
                                <ul class="aboutcolumn">
                                    <li><a href="/introduction/"> 동아리 소개 </a></li>
                                    <li><a href="/notice/"> 공지사항 </a></li>
                                </ul>
                            </li>
                         </ul>
                    </div>
                </div>
                <!-- responsive footer end -->       
                
                <div class="col-xl-2 col-lg-3 col-md-4 link">
                    <h4 class="text-white mb-4">Useful Links</h4>
                    <div class="text-white mt-4 d-flex flex-column page-link">
                        <a href="/introduction/" class="pb-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Introduction</a>
                        <a href="#" class="py-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Bylaws</a>
                        <a href="/notice/" class="py-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Notice</a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 link">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <div class="text-white mt-4 d-flex flex-column page-link">
                        <a href="/volunteer/" class="pb-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Project</a>
                        <a href="/CTF-Challenge/" class="py-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Wargame</a>
                        <a href="/recruit/" class="py-3 text-light border-bottom border-white"><i
                                class="fa-solid fa-chevron-right text-white me-2"></i> Recruit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->