{% load static %}
<header>
    <div>
      <nav>
        <a class="logo" href="/"><img src="{% static 'assets/img/ISlylogo.png' %}"> I.Sly()</a>
        <!--<div class="search-input">
          <form id="search" action="#">
            <input type="text" placeholder="search" id='searchText' name="searchKeyword" onkeypress="handle" />
            <i class="fa fa-search"></i>
          </form>
        </div>-->
        <ul class="nav">
          <li class="dropdown">
            <a href="#">ABOUT</a>
            <ul class="depth_1">
              <li><a href="/introduction/">동아리 소개</a></li>
              <li><a href="/notice/">공지사항</a></li>
            </ul>
          </li>
          <!--<li class="dropdown">
            <a id="services" href="#">과제</a>
            <ul id="s-d" class="depth_1">
              <li><a href="/assignments/basic/">기초</a></li>
              <li><a href="/assignments/advanced/">심화</a></li>
            </ul>
          </li>
          <li data-menuanchor="s4"><a href="/team-activities/">Team</a></li>-->
          <li data-menuanchor="s5"><a href="/volunteer/">PROJECT</a></li>
          <!--<li data-menuanchor="s5"><a href="/library/">자료실</a></li>-->
          <li data-menuanchor="s5"><a href="/CTF-Challenge/">WARGAME</a></li>
          <li data-menuanchor="s5"><a href="/recruit/">RECRUIT</a></li>
          <li class="nav-item">
            {% if request.user.is_authenticated %} <!-- 단순히 사용자 인증에 대한 확인만 하는 기능 -> url에 login을 직접 치면 로그인 상태에서도 로그인창이 뜸 -->
            <a href="{% url 'logout' %}">Logout {{request.user.username}} </a>
            {% else %}
            <a href="/login/">Login </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div> 
  </header>