{% load static %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row"> <!--""-->
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a class="logo" href="/"><img src="{% static 'assets/img/ISlylogo.png' %}"> I.Sly()</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search Start ***** -->
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="search" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <!-- <li><a href="/" class="active">Home</a></li> -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" href="#" role="button" aria-expanded="false">ABOUT</a>
                          <ul class="dropdown-menu dropdown-menu-md-end">
                            <li><a class="dropdown-item" href="/introduction/">동아리 소개</a></li>
                            <li><a class="dropdown-item" href="/notice/">공지사항</a></li>
                            <li><a class="dropdown-item" href="/notice/">활동사진</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" href="#" role="button" aria-expanded="false">과제</a>
                          <ul class="dropdown-menu dropdown-menu-md-end">
                            <li><a class="dropdown-item" href="/assignments/basic/">기초</a></li>
                            <li><a class="dropdown-item" href="/assignments/advanced/">심화</a></li>
                            <!--<li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>-->
                          </ul>
                        </li>
                        <li><a href="/team-activities/">Team</a></li>
                        <li><a href="/volunteer/">재능기부</a></li>
                        <li><a href="/library/">자료실</a></li>
                        <li><a href="/CTF-Challenge/">WARGAME</a></li>
                        <li><a href="/recruit/">RECRUIT</a></li>
                        <li class="nav-item">
                          {% if request.user.is_authenticated %} <!-- 단순히 사용자 인증에 대한 확인만 하는 기능 -> url에 login을 직접 치면 로그인 상태에서도 로그인창이 뜸 -->
                          <a class="nav-link" href="{% url 'logout' %}">Logout <img src="{% static 'assets/img/ISlylogo2.jpg' %}" alt=""></a>
                          {% else %}
                          <a href="/login/">Login <img src="{% static 'assets/img/ISlylogo2.jpg' %}" alt=""></a>
                          {% endif %}
                        </li>
                        <!-- <li><a href="/login/">Login <img src="{% static 'assets/img/ISlylogo2.jpg' %}" alt=""></a></li> -->
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                  
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
</body>