/*
---------------------------------------------
Basic
---------------------------------------------
*/

.VltMore {
    border-radius: 23px;
    background-color: transparent;
    padding: 0 30px;
    margin-top: 150px;
}


/*
---------------------------------------------
Subtitle, Title
---------------------------------------------
*/

.VltMore .subtitle {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 600;
    letter-spacing: 0.075em;
    cursor: text !important;
}

.VltMore .title {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    text-transform: capitalize;
}


/*
---------------------------------------------
Card
---------------------------------------------
*/

.VltMore .card {
    transition: all 0.3s;
    background-color: #25272B;
    position: relative;
    border-radius: 23px;
    overflow: hidden;
    /* box-shadow: 0 9px 10px -2px rgba(0, 0, 0, 0.5); */
}

.VltMore .card__img {
    aspect-ratio: 16 / 9;
}

.VltMore .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.VltMore .card__info {
    background-color: #25272B;
    padding: 16px 24px 24px 24px;
}

.VltMore .card__category {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #989A9C;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.VltMore .card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.075em;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.VltMore .card__like {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 12px;
    letter-spacing: 0.085em;
    font-weight: 500;
    color: #57F579;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*
---------------------------------------------
Owl-Nav
---------------------------------------------
*/

.VltMore .owl-nav {
    display: inline-block !important;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-45px);
}

.VltMore .owl-nav .owl-prev span,
.VltMore .owl-nav .owl-next span {
    opacity: 0;
}

.VltMore .owl-nav .owl-prev,
.VltMore .owl-nav .owl-next {
    opacity: 1;
    transition: all .5s;
}

.VltMore .owl-nav .owl-prev {
    margin-right: 10px;
    outline: none;
    position: absolute;
    left: -65px;
}

.VltMore .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
    background-color: #2A2C30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.VltMore .owl-nav .owl-next {
    margin-left: 10px;
    outline: none;
    position: absolute;
    right: -70px;
}

.VltMore .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
    background-color: #2A2C30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.VltMore .owl-nav .owl-prev:hover:before,
.VltMore .owl-nav .owl-next:hover:before {
    color: #2A2C30;
    background-color: #FFFFFF;
    opacity: 1;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .VltMore .card__title {
        font-size: 1rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .VltMore .card__category {
        font-size: 12px;
    }

    .VltMore .card__like {
        font-size: 11px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Owl-Nav */
    .VltMore .owl-nav .owl-next {
        right: -60px;
    }

    .VltMore .owl-nav .owl-prev {
        left: -55px;
    }

    .VltMore .owl-nav .owl-next:before {
        font-size: 35px;
        background-color: transparent;
    }

    .VltMore .owl-nav .owl-prev:before {
        font-size: 35px;
        background-color: transparent;
    }

    .VltMore .owl-nav .owl-prev:hover:before,
    .VltMore .owl-nav .owl-next:hover:before {
        color: #FFFFFF;
        background-color: transparent;
        opacity: 0.7;
    }
}