/*
---------------------------------------------
Delete & Edit Button
---------------------------------------------
*/

.VltNav a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #FFFFFF;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    border: 1.8px solid #FFFFFF;
    border-radius: 0;
}

.VltNav a:hover {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.075);
}