/*
---------------------------------------------
CTF_Challenge Style
---------------------------------------------
*/

.ctf {
    border-radius: 23px;
    background-color: transparent;
    padding: 0 30px;
}


/*
---------------------------------------------
Title
---------------------------------------------
*/

.ctf .title {
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    display: block;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.3;
    text-transform: capitalize;
}


/*
---------------------------------------------
Item
---------------------------------------------
*/

.ctf .item .thumb {
    position: relative;
    overflow: hidden;
}

.ctf .item .thumb .hover-effect {
    position: absolute;
    bottom: -100px;
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.ctf .item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
}

/* Click */
.ctf .item .thumb .hover-effect h6 {
    background-color: #2A2C30;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
    /* add */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.075em;
}

.ctf .item img {
    border-radius: 23px;
}

/* Topic */
.ctf .item h4 {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-block;
    /* add */
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.3;
    letter-spacing: 0.075em;
    font-weight: 700;
    color: #FFFFFF;
}

/* Hashtag */
.ctf .item span {
    color: #8D8F91;
    display: block;
    margin-top: 7px;
    font-weight: 500;
    /* add */
    font-size: 14px;
    line-height: 1.5;
}


/*
---------------------------------------------
Owl-Nav
---------------------------------------------
*/

.ctf .owl-nav {
    display: inline-block !important;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-45px);
}

.ctf .owl-dots {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.ctf .owl-dots .owl-dot {
    transition: all .5s;
    width: 7px;
    height: 7px;
    background-color: #FFFFFF;
    margin: 0px 5px;
    border-radius: 50%;
    outline: none;
}

.ctf .owl-dots .active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
}

.ctf .owl-nav .owl-prev {
    margin-right: 10px;
    outline: none;
    position: absolute;
    left: -65px;
}

.ctf .owl-nav .owl-prev span,
.ctf .owl-nav .owl-next span {
    opacity: 0;
}

.ctf .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
    background-color: #0D0F10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    border: 2px solid #FFFFFF;
}

.ctf .owl-nav .owl-prev,
.ctf .owl-nav .owl-next {
    opacity: 1;
    transition: all .5s;
}

.ctf .owl-nav .owl-next {
    margin-left: 10px;
    outline: none;
    position: absolute;
    right: -70px;
}

.ctf .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
    background-color: #0D0F10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    border: 2px solid #FFFFFF;
}

.ctf .owl-nav .owl-prev:hover:before,
.ctf .owl-nav .owl-next:hover:before {
    color: #000000;
    background-color: #FFFFFF;
    opacity: 1;
}


/*
---------------------------------------------
Responsive style
---------------------------------------------
*/

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Owl-Nav */
    .ctf .owl-nav .owl-next {
        right: -60px;
    }

    .ctf .owl-nav .owl-prev {
        left: -55px;
    }

    .ctf .owl-nav .owl-next:before {
        font-size: 35px;
        background-color: transparent;
    }

    .ctf .owl-nav .owl-prev:before {
        font-size: 35px;
        background-color: transparent;
    }

    .ctf .owl-nav .owl-prev:hover:before,
    .ctf .owl-nav .owl-next:hover:before {
        color: #FFFFFF;
        background-color: transparent;
        opacity: 0.7;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}