{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.Sly()</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fullpage/jquery.fullPage.css' %}">
    <link rel="stylesheet" href="{% static 'fullpage/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'fullpage/jquery.fullPage.js' %}"></script>
    <script src="{% static 'fullpage/main.js' %}"></script>
</head>
<body>
    <header>
      <nav>
        <a class="logo" href="/"><img src="{% static 'assets/img/ISlylogo.png' %}"> I.Sly()</a>
        <ul class="nav">
          <li data-menuanchor="s1"><a href="/">Home</a></li>
          <li data-menuanchor="s2"><a href="/notice/">ABOUT</a></li>
          <li data-menuanchor="s3"><a href="/assignments/">과제</a></li>
          <li data-menuanchor="s4"><a href="/team_activities/">Team</a></li>
          <li data-menuanchor="s5"><a href="/volunteer/">재능기부</a></li>
          <li data-menuanchor="s5"><a href="/library/">자료실</a></li>
          <li data-menuanchor="s5"><a href="/CTF-Challenge/">WARGAME</a></li>
          <li data-menuanchor="s5"><a href="/recruit/">RECRUIT</a></li>
      </ul>
      </nav>

    </header>
    <main id="fullpage">
        <section class="section">
            <h2>section 1</h2>
        </section>
        <section class="section">
          <div class="slide">
            <h3>slide 01</h3>
          </div>
          <div class="slide">
            <h3>slide 02</h3>
          </div>
          <div class="slide">
            <h3>slide 03</h3>
          </div>
        </section>
        <section class="section">
          <h2>section 3</h2>
        </section>
        <section class="section">
          <h2>section 4</h2>
        </section>
        <footer class="section fp-auto-height">
          <h2> footer </h2>
        </footer>
    </main>
</body>
</html>