/*
---------------------------------------------
Basic Styles
---------------------------------------------
*/

::selection {
    background: #777777 !important;
    color: #FFFFFF !important;
}

::-moz-selection {
    background: #777777 !important;
    color: #FFFFFF !important;
}

.SnakeGame {
    margin: 0 auto;
    padding: 0;
    font-family: "VT323", monospace;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.055em;
}

.SnakeGame h2 {
    font-size: 50px;
}


/*
---------------------------------------------
Canvas Styles
---------------------------------------------
*/

.SnakeGame canvas {
    display: none;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    background-color: #000000;
}

.SnakeGame canvas:focus {
    outline: none;
}


/*
---------------------------------------------
Top Styles
---------------------------------------------
*/

.SnakeGame .wrap {
    margin-left: auto;
    margin-right: auto;
}

.SnakeGame h1 {
    display: inline-block;
    font-size: 30px;
    color: #FFFFFF;
}

.SnakeGame .score {
    display: inline-block;
    font-size: 20px;
    color: #FFFFFF;
}

.SnakeGame .score_value {
    font-size: inherit;
}


/*
---------------------------------------------
All screens style
---------------------------------------------
*/

#gameover a, #setting a, #menu a {
    display: block;
}

#gameover a, #setting a:hover, #menu a:hover {
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    #gameover a:hover::before, #setting a:hover::before, #menu a:hover::before {
        content: ">";
        margin-right: 10px;
    }
}


/*
---------------------------------------------
Menu Screen Style
---------------------------------------------
*/

.SnakeGame #menu {
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.SnakeGame #menu h2 {
    -webkit-animation: logo-ani 1000ms linear infinite;
    animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
}

.SnakeGame #menu a {
    font-size: 30px;
}

.SnakeGame #menu #developers {
    font-size: 20px;
    font-weight: 700;
}

@-webkit-keyframes logo-ani {
    50% {
        -webkit-transform: scale(1.3, 1.3);
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
    }
}

@keyframes logo-ani {
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}


/*
---------------------------------------------
Game Over Screen Style
---------------------------------------------
*/

.SnakeGame #gameover {
    display: none;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 30px;
}

.SnakeGame #gameover p {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20px;
}


/*
---------------------------------------------
Settings Screen Style
---------------------------------------------
*/

.SnakeGame #setting {
    display: none;
    width: 340px;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    margin: 40px auto 30px;
}

.SnakeGame #setting h2 {
    margin-bottom: 15px;
}

.SnakeGame #setting a {
    margin-bottom: 20px;
}

.SnakeGame #setting p {
    margin-top: 10px;
    font-size: 22px;
}

.SnakeGame #setting input {
    display: none;
}

.SnakeGame #setting label {
    cursor: pointer;
    font-size: 22px;
}

.SnakeGame #setting input:checked + label {
    background-color: #FFFFFF;
    color: #000000;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .SnakeGame h1 {
        font-size: 28px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .SnakeGame h1 {
        font-size: 25px;
    }
}


/*
---------------------------------------------
Dimensions
---------------------------------------------
*/

@media (max-width: 490px) {
    .SnakeGame {
        display: none;
    }
}

